<!DOCTYPE html>
<!-- views/partials/head.ejs -->
<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<title>GreenHome</title>
<link href="assets/styles.css" rel="stylesheet" type="text/css" />
<body>
