<!-- views/pages/foyer_locataire.ejs -->


<header>
    <% include ../partials/header %>

</header>

<main>
<h2>page foyer locataire</h2>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
