<!-- views/pages/inscription_proprio.ejs -->


<header>
    <% include ../partials/header %>

</header>

<main>
<h2>page inscription page prorpietaire</h2>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
