<!-- views/pages/inscription_locataire.ejs -->


<header>
    <% include ../partials/header %>

</header>

<main>
<h2>page inscription pour locataire</h2>
</main>

<footer>
    <% include ../partials/footer %>
</footer>
